<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AllowedTypes</key>
  <array>
    <string>public.objective-c-source</string>
    <string>public.objective-c-plus-plus-source</string>
  </array>
  <key>DefaultCompletionName</key>
  <string>CustomCell</string>
  <key>Description</key>
  <string>An Objective-C base class which is a subclass of UITableViewCell. Subclass from it if you want a custom table cell.</string>
  <key>Kind</key>
  <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
  <key>MainTemplateFile</key>
  <string>MLCustomCell.m</string>
  <key>Options</key>
  <array>
  </array>
  <key>Platforms</key>
  <array>
    <string>com.apple.platform.iphoneos</string>
  </array>
  <key>SortOrder</key>
  <string>1</string>
  <key>Summary</key>
  <string>An Objective-C custom cell base class</string>
</dict>
</plist>
